@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Caveat:700|Raleway:500');

/* Background pattern from Toptal Subtle Patterns */

html {
    scroll-behavior: smooth;
    background-color: #F4F3E1;
}

html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    font-size: 2.5rem;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}

#header {
    background-color: #092C3B;
    height: 80px;
    top: 0;
    width: 100%;
    color: #F4F3E1;
    position: fixed
}

#headerbox {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

#logo {
    font-family: 'Caveat', cursive;
    font-size: 2.3rem;
    height: 50px;
    margin: 18px 0px;
}

#nav {
    text-align: right; 
    margin: auto 0px;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
}

#nav a {
    text-decoration: none;
    color: #F4F3E1;
}

#nav a:hover {
    color: #609691;
}

#about {
    background-color: #F4F3E1;
    background-image: url(img/cubes.png);
    background-repeat: repeat;
    min-height: 400px;
    color: #024253;
    padding-top: 100px;
}

#aboutbox {
    width: 800px;
    margin: auto;
}

#NewZealand {
    min-height: 500px;
    background-color: #609691;
    color: #F4F3E1;
    padding-top: 55px;
}

#NZbox {
    width: 800px;
    margin: auto;
    padding-bottom: 50px;
}

#NZphotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
    padding-right: 0px;
}

#NZphotos img {
    max-width: 250px;
}

#Japan {
    min-height: 500px;
    background-color: #F4F3E1;
    background-image: url(img/cubes.png);
    background-repeat: repeat;
    color: #024253;
}

#Japanbox {
    width: 800px;
    margin: auto;
}

#Australia {
    min-height: 500px;
    background-color: #024253;
    color: #F4F3E1;
}

#contact {
    height: 500px;
    background-color: #F4F3E1;
    background-image: url(img/cubes.png);
    background-repeat: repeat;
    color: #092C3B;
}

#footer {
    height: 100px;
    background-color: #092C3B;
    color: #F4F3E1;
}